<section class="bg-indigo-900 rounded-xl text-center">
        <h2 class="text-5xl font-bold ">About us</h2>
        <p class="text-zinc-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. In molestias reiciendis dolor exercitationem ipsa cum pariatur id ad vitae perferendis magni, laboriosam eaque quae eius fugit molestiae dolores. Esse, laboriosam.</p>
</section>