---
import features from "../../config/features.json"
---

<h1 class="bg-zinc-900 text-center font-bold text-5xl rounded-t-xl">Features</h1>

<div class="bg-zinc-900 grid md:grid-cols-3 gap-4 p-4 rounded-b-xl">
    {
        features.map((feature) => (
    <div class="bg-slate-800 p-10 rounded-xl">
        <h2 class="text-xl font-bold my-4">{feature.title}</h2>
        <p>{feature.description}</p>
    </div>
    ))
    }
</div>